* {
	margin: 0;
	padding: 0;
}



/*
#room {
	width: 1280px;
	height: 720px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url(images/room.jpg);
	background-repeat: no-repeat;
	background-size: 150% auto;
	background-position: 50% 60%;
}
*/
body {
	background: #000;
	font: 18px 'Helvetica', arial, sans-serif;
}

h1 {
	color: #fff;
	font-size: 44px;
	line-height: 50px;
	width: 700px;
	padding: 40px 0;
}

#container {
	position: relative;
	width: 1280px;
	height: 720px;
	margin: 20px auto;
	overflow: hidden;
}

#room {
	width: 150%;
	height: 150%;
	position: absolute;
	top: -110px;
	right: 0;
	z-index: 1;
}

#main_stage {
	position: relative;
	z-index: 2;
	width: 980px;
	margin: 0 auto;
	text-align: left;
	height: 550px;
}

.stage {
	position: absolute;
	padding-top: 80px;
	width: 100%;
	top: 650px; 
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.stage.current {
	top: 0px;
	zoom: 1;
}

.stage.next {
	zoom: 2;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	top: 315px;
	left: -25%
}

.stage.prev {
	width: 20%; 
	opacity: 0;
	top: 70%;
	left: 30%;
	zoom: 0.4;
}

#startButton {
	margin: 20px auto;
	width: 244px;
	height: 244px;
	border-radius: 122px;
	background-color: #9b74cd;
	color: #fff;
	font-weight: bold;
	font-size: 36px;
	display: table;
	text-align: center;
	text-shadow: 0px 1px 2px #666;
}

#startButton p {
	display: table-cell;
	vertical-align: middle;
}

#clickme, #moveit {
	position: relative;
	z-index: 3;
}

#top {
	position: absolute;
	z-index: 10;
	width: 980px;
	height: 60px;
	top: 0;
	left: 50%;
	margin-left: -490px;
	color: #fff;
	padding-top: 20px;
}

#top img {
	float: left;
	display: block;
	height: 100%;
	width: auto;
	margin-right: 15px;
}

#top_nav {
	float: left;
	line-height: 60px;
}

#stage_two img {
	padding-top: 60px;
}

