<div id="android_help" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#android_help" data-slide-to="0" class="active"></li>
    <li data-target="#android_help" data-slide-to="1"></li>
    <li data-target="#android_help" data-slide-to="2"></li>
    <li data-target="#android_help" data-slide-to="3"></li>
    <li data-target="#android_help" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h1>How to use Stevie</h1>
      <p class="sans">Turn your favorite websites into a beautiful TV experience. <br>
      It's fun and super easy - Let's get you started!</p>
      <img src="http://cdn.mystevie.com/website/help/ios_help01.png" alt="alt">
    </div>

    <div class="item">
      <h1>The Stevie Channel Guide</h1>
      <p class="sans">Click any channel to start watching right away! <br>
      NOTE: Your Friends TV channel requires login via Facebook.</p>
      <img src="http://cdn.mystevie.com/website/help/ios_help02.png" alt="alt">
    </div>

    <div class="item">
      <h1>Watching a Stevie Channel</h1>
      <p class="sans">Each Stevie channel updates you with the tweets, instagrams, events and comments - all relevant to the channel you're watching.</p>
      <img src="http://cdn.mystevie.com/website/help/ios_help03.png" alt="alt">
    </div>

    <div class="item">
      <h1>Super Easy Controls</h1>
      <p class="sans">Touch anywhere on the video to bring up the controls.</p>
      <img src="http://cdn.mystevie.com/website/help/ios_help04.png" alt="alt">
    </div>

    <div class="item">
      <h1>Cast it to your big screen</h1>
      <p class="sans"><a href="http://www.google.co.il/intl/en/chrome/devices/chromecast/" target="_blank" style="text-decoration: underline;">What is google Chromecast?</a></p>
      <img src="http://cdn.mystevie.com/website/help/ios_help05.png" alt="alt">
      
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#android_help" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#android_help" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
