@CHARSET "UTF-8";

/** {
  margin:0;
  padding:0;
}
*/
a, a img {
	border: none;
	outline: none;
}

body {
	font-family:'OfficinaSansITCW01-Book 734509', 'arial', 'helvetica', 'sans-serif';
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	height:100%;
	background-color: #f1eee7;
	padding-bottom: 10px;
}

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

#whiteZone {
	position: absolute;
	display: none;
	z-index: 0;
	width: 100%;	
	top: 0;
	left: 0;
	background-color: #fff;
	height: 175px;
	overflow: hidden;
}

/* TODO: make this with body class - daph */
#whiteZoneHomePage {
	position: absolute;
	display: block;
	z-index: 0;
	width: 100%;	
	top: 0;
	left: 0;
	background-color: #fff;
	height: 218px;
	overflow: hidden;
}	

#canvas {
/*	width: 100%; */
	width: 1200px;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#logoHolder {
	cursor: pointer;
	position: absolute;
	top: 34px;
	left: 63px;
	width: 180px;
	height: 69px;
}

.logo {
	position: absolute;
	display: none;
	border-style: none;
	padding: 0;
	margin: 0;
	width: 180px;
	height: 69px;
}

#logo1 {
	width: 180px;
	height: 69px;
	display: block;
}

#logo2 {
	width: 180px;
	height: 69px;
}

#logo3 {
	width: 180px;
	height: 69px;
}

#logo4 {
	width: 180px;
	height: 69px;
}

#logo5 {
	width: 180px;
	height: 69px;
}

#logo6 {
	width: 180px;
	height: 69px;
}

.selected {
	color: #545454;
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
}

.settingsSelected {
	color: #000;
/*	font-family:'OfficinaSansITCW01-Bold', 'sans-serif'; */
}

#topBar {
	height: 175px;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	color: #545454;
}	

#topBarLink {
	height: 24px;

}

#topBarItems {
	position: absolute;
	top: 77px;
	left: 263px;
	height: 24px;
	font-size: 17px;
}

#topBarItems a:link {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#topBarItems a:visited {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#topBarItems a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#topBarItems a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#bottomBarItems {
	float: left;	
	left: 376px;
	padding-bottom: 25px;
	width: 400px;
}

#bottomBarItems, #fixedBottomBarItems{
	position: relative;
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 5px;
	color: #828282; 
}

#fixedBottomBarItems {
	top: 860px; 
	left: 425px;
	color: #828282;
	width: 400px;
}

#bottomBarItems a:link, #fixedBottomBarItems a:link {
	text-decoration: none;
	cursor: pointer;
	color: #828282;
}

#bottomBarItems a:visited, #fixedBottomBarItems a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #828282;
}

#bottomBarItems a:active, #fixedBottomBarItems a:active {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

#bottomBarItems a:hover, #fixedBottomBarItems a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

#facebook_connect_button {
	top: 0px;
	left: 30px;
	cursor: pointer;
	padding-left: 10px;
}

#main {
	padding-left: 49px;
	position: absolute;
	top: 210px;
}

.tri {
	position: relative;
	padding-right: 5px;
	top: -2px;
}

.bigtri {
	position: relative;
	padding-right: 3px;
	padding-left: 2px;
	top: -1px;
}

.medtri {
	position: relative;
	padding-right: 0px;
	padding-left: 4px;
	top: 1px;
}

.preload {
	width: 0px;
	height: 0px;
	display: none;
}

/* shiniti - rplaced with new userLoggedIn div
#facebook_buttons {
	height: 24px;
	position: relative;
	overflow: hidden;
	left: 30px;
	top: -2px;
}


TODO: what's this?
#connectImg {
	top: 5px;
	position: relative;
	display: none;
}	

#logOutLinkText {
	padding-right: 8px;
	padding-left: 1px;
	padding-bottom: 3px;
	letter-spacing: 0px;
}

#logOutLink {
	top: -1px;
	left: 479px;
	font-size: 12px;
	background-color: #d8dfea;
	color: #6683c0;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: -5px;
	margin-left: -81px;
	padding-left: 7px;
	position: relative;
	display: none;
	font-family: arial,helvetica,sans-serif;
}

#logOutLink a:link {
	text-decoration: none;
	color: #6683c0;
}

#logOutLink a:visited {
	text-decoration: none;
	color: #6683c0;
}

#logOutLink a:active {
	text-decoration: none;
	color: #000;
}

#logOutLink a:hover {
	text-decoration: none;
	color: #000;
}
*/

#pageTitle {
	position: absolute;
	font-size: 31px;
/* 	font-weight: bold; */
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
	left: 64px;
	top: 123px;
	color: #545454;
}

.interTitle {
	font-size: 33px;
/* 	font-weight: bold; */
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
	padding-left: 15px;
	padding-top: 35px;
	padding-bottom: 25px;
	color: #545454;
}

.simpleHeadline {
	font-size: 25px;
/* 	font-weight: bold; */
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
}

.headline {
	font-size: 31px;
	padding-bottom: 20px;
}

.headline, .simpleHeadline {
	padding-left: 15px;
	color: #545454;
	padding-bottom: 10px;
}

.simpleText {
	padding-left: 16px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 500px;
}

.aboutusText {
	padding-left: 16px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 700px;
}

.pressText {
	left: 17px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 840px;
}

.aboutusText a:link{
	color: #545454;
}
.aboutusText a:visited{
	color: #222;
}
.aboutusText a:hover{
	color: #545454;
}

.pressLink a:link{
	color: #545454;
}

.pressLink a:visited{
	color: #545454;
}

.pressLink a:active{
	color: #000000;
}

.pressLink a:hover{
	color: #000000;
}

#watchShare {
	}

#watchShare iframe{
	margin-bottom: 0px;
	}

#watchShare iframe.twitter-share-button{
	margin-bottom: -3px;
	}

.FAQtext {
	padding-left: 16px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 700px;
}

.FAQtext a:link{
	color: #545454;
}

.FAQtext a:hover{
	color: #545454;
}

.FAQtext a:visited{
	color: #222;
}

.FAQlinks {
	padding-left: 16px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 700px;
}

.FAQlinks a:link {
	color: #545454;
	cursor: pointer;
}

.FAQlinks a:visited {
	color: #222;
	cursor: pointer;
}

.FAQlinks a:active {
	text-decoration: underline;
	color: #0c00ff;
	cursor: pointer;
}

.FAQlinks a:hover {
	text-decoration: underline;
	color: #222;
	cursor: pointer;
}

.bolder {
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
}

#contactBox {
	position:absolute;
	left: 565px;
	top: 176px;
	width: 305px;
	height: 300px;
	padding: 5px 10px 10px 10px;
	background-color: #e7e5df;	
	font-size: 18px;
	line-height: 24px;
}

#emailBox {
	position: relative;
	top: 3px;
	float: right;
	width: 135px;
	height: 13px;
	border-style: none;
	font-size: 12px;
}

#subjectBox {
	position: relative;
	top: 3px;
	float: right;
	width: 160px;
	height: 13px;
	border-style: none;
	font-size: 12px;
}

#bodyBox {
	position: relative;
	top: 3px;
	width: 300px;
	height: 200px;
	border-style: none;
	font-size: 12px;
}

#sendButton {
	padding-top: 5px;
	position: relative;
}

#sendButton a:link {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#sendButton a:visited {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#sendButton a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#sendButton a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.twinStevies {
	float: left;
	position: relative;
	padding-bottom: 25px;
}

.westSide {
	position: relative;
	float: left;
}

.eastSide {
	position: relative;
	float: right;
}

#inviteMe {
}

#inviteMeBox {
	visibility: hidden;
	position: absolute;
	top: 77px;
	width: 135px;
	height: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #545454;
	left: 647px;
}

#inviteMeButton {
	visibility: hidden;
	position: absolute;
	left: 783px;
	top: 74px;
}

#loginButtons {
  display:none;
  width:170px;
  height:35px;
  position:absolute;
  right:0;
  top:69px;
}

#loginButtons p {
  margin:0 10px;
  padding:0;
  line-height:40px;
  float:left;
}

#loginButtons a.topbar_tw {
  float:right;
  margin-left:10px;
  background:#00bbf1;
  display:block;
  width:34px;
  height:35px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

#loginButtons a.topbar_tw:hover {
 background:#00aad9; 
}

#loginButtons a.topbar_fb {
  float:right;
  background:#6784c0;
  display:block;
  width:34px;
  height:35px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

#loginButtons a.topbar_fb:hover {
 background:#5473b3;
 /* background: #3C5A98; took from fb logo */ 
}

.login_brdr {
  position:absolute;
  top:0;
  left:0;
  z-index:2000;
  width:100%;
  height:8px;
}

#userLoggedIn {
  display:none;
  position:absolute;
  right:0;
  top:70px;
  text-align:center;
  font:12px/38px arial, helvetica, sans-serif;
}
#userLoggedIn a{
  text-decoration:none;
  color:#545454;
}
#userLoggedIn a:hover {
  color:#000;
}

#userName {
  display:inline;
  font-weight:bold;
}

#signOutLink {
  display:inline;
  padding-right:42px;
}

#primeAccountIcon {
  position:absolute;
  top:0;
  right:0;
  width:34px;
  height:35px;
}

#primeAccountIcon.facebook {
	background: #6784c0 url(http://static.mystevie.com/png/login/facebookIcon.png) center center no-repeat;
}

#primeAccountIcon.twitter {
	background: #00bbf1 url(http://static.mystevie.com/png/login/twitterIcon.png) center center no-repeat;

}

/*
#alreadyInvitedText {
	display: none;
	position:  absolute;
	left: 1026px;
	top: 72px;
	width: 214px;
	line-height: 30px;
}

#inviteText {
	display: none;
	left: 647px;
	position: absolute;
	top: 52px;
	width: 350px;
}

#alreadyInvitedText a:link {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

#alreadyInvitedText a:hover {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

#alreadyInvitedText a:active {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

#alreadyInvitedText a:visited {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}
*/

#invitationSent {
	position: absolute;
	display: none;	
	color: #00aa00;	
	left: 612px;
	width: 350px;
	top: 94px;
}

#badInvitation {
	position: absolute;
	display: none; 	
	color: #cc0000;	
	left: 612px;
	top: 94px;
	width: 350px;
}

#goodInvitation {
	color: #00aa00;	
}

.greenStevie {
	color: #0a0;
	cursor: pointer;	
}

#contactEmails {
	width: 500px;
}

#fconImg {
	border: 0;
	width: 222px;
}

.hdiv25px {
	padding-bottom:25px;
}

.tall {
	line-height: 35px;
}

/* settings */


.settingsLogout {
	padding-left: 64px;
}

#toggleTwitterDiv {
	font-size: 16px;
	padding-left: 64px;
}

.settingsMyName {
	top: -8px;
	position: relative;
	padding-left: 4px;
}

.toggleMailingDiv {
	margin-bottom: 7px;
	width: 550px;
}

.settingsLogoutLink {
  font-size: 12px;
  font-family: arial;
  margin-left: 14px;
  position: relative;
  top: -8px;
}

.settingsLoggedInAs {
	margin-top: 5px;
}

#EmailNotifications {
	position: absolute;
	top: 0px;
	left: 500px;
}



#account_settings {
  float:left;
  width:600px; /*TODO: fix*/
}

#account_settings h2 {
  font:normal 20px/22px 'OfficinaSansITCW01-Bold', 'arial', 'helvetica', 'sans-serif';
  color:#545454;
  margin:0;
  padding:0 0 25px 12px;
}

li.row {
  position:relative;
  padding:30px 0;
  overflow:auto;
}

img.idn_brdr {
  position:absolute;
  top:0;
  left:0;
  z-index:2000;
  width:100%;
  height:8px;
}

.app_icon {
  float:left;
  margin:0 10px;
}

.user_pic {
  float:left;
  width:50px;
  height:50px;
  margin:0 10px;
}

.user_pic img {
  width:100%;
}

.account_details {
  float:left;
  margin-left:25px;
  color: #545454;
}

.row .user_name {
  float:left;
  font:normal 20px/20px 'OfficinaSansITCW01-Bold', 'arial', 'helvetica', 'sans-serif';
  padding:0 10px;
  color:#545454;
}

.row .remove_link {
  float:left;
  height:23px;
  line-height:26px;
  color:#545454;
  text-decoration:none;
  padding:0 10px;
  border-left:2px solid #545454;
}

.row .remove_link:hover {
  cursor: pointer;
  color:#000;
}

.row .toggle_account {
  clear:both;
  padding:0 10px;
  line-height:30px;
}

.row .login_button {
  height:35px;
  line-height:38px;
  float:left;
  margin:10px 0 10px 80px;
  display:block;
  background:#ccc;
  color:#fff;
  text-decoration:none;
  font-size:20px;
  padding:0 20px 0 40px;
}

.row.facebook .login_button {
  background:#6784c0 url(http://static.mystevie.com/png/login/facebookIcon.png) left center no-repeat;
}

.row.twitter .login_button {
  background:#00bbf1 url(http://static.mystevie.com/png/login/twitterIcon.png) left center no-repeat;
}

.row.twitter .login_button:hover {
 background-color:#00aad9; 
}

.row.facebook .login_button:hover {
 background-color:#5473b3; 
}

#mail_settings {
  float:right;
  margin:35px 0 0 75px;
  width: 450px;
}

#mail_settings h3 {
  color:#fff;
  font:normal 22px 'OfficinaSansITCW01-Book 734509', 'arial', 'helvetica', 'sans-serif';
  background:#f68500;
  margin:10px 0;
  line-height:38px;
  height: 35px;
  padding:0 10px;
}

#tv {
	position: absolute;
	width: 424px;
	height: 279px;
	left: 39px;
	top: -56px;
	background-image: url('http://static.mystevie.com/png/website/tv-small.png');
	z-index: 100;
	background-repeat: no-repeat;
	padding-top: 13px;
	padding-left: 36px;
}

#glow {
	position: absolute;
	top: 13px;
	left: 36px;
	z-index: 900;
	width: 100px;
	height: 100px;
}

#getStevieTitle {
	font-size: 16px;
	color: #2f2f2f;
	padding-bottom: 10px;
}

#getStevieSoon {
	font-size: 16px;
	color: #2f2f2f;
	padding-top: 25px;
	padding-bottom: 5px;
}

#getStevieAndroid {
	padding-top: 8px;
}

#embeddedSlideshow {
	padding: 0;
	margin: 0;
	position: absolute;
	width: 411px;
	height: 232px;
	top: 13px;
	left: 15px;
	z-index: 100;
	display: none;
}

#embeddedVideo {
	padding: 0;
	margin: 0;
	width: 890px;
	height: 502px;
	top: 26px;
	z-index: 100;
}

#rightBar {
	position: absolute;
	left: 1040px; /*shiniti*/
	width: 161px;
	top: -70px;
	z-index: 200;
}

#watchRightBar {
	position: absolute;
	left: 980px;
	width: 280px;
	top: 32px;
	font-size: 26px;
}

#watchRightBar a {
	color: #545454;
}

#watchRightBar a:hover {
	color: #2ECE6D;
}

.rightBarItem {
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
}

#fromYoutubeWatchStevie {
	top: 210px;
	left: 980px;
	cursor: pointer;
	font-size: 15px;
	background-color: #080;
	color: #fff;
	padding: 3px 4px 3px 4px;
	position: absolute;
	z-index: 200;
}

.featureDesc {
	font-family: arial,helvetica,sans-serif;
	font-size: 14px;
	padding-left: 20px;
	width: 380px;
}
.bugDesc {
	font-family: sans-serif;
	font-size: 14px;
	padding-left: 3px;
}
.hdivSmall {
	padding-bottom: 15px;
}

#soonTitle {
    padding-top: 94px;
    padding-left: 104px;
}
#downloadIcons {
	padding-left: 0px;
}

#downloadBanner {
	border-style: none;
}

#download_win_img {
	border-style: none;
}

#versionText {
	font-size: 13px;
	font-family: sans-serif;
	padding-left: 89px;
}

.featureDesc a:link {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

.featureDesc a:visited {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

.featureDesc a:active {
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}

.featureDesc a:hover {
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}

#getStevieWin a:link {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#getStevieWin a:visited {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}


#getStevieWin a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#getStevieWin a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#tryAlpha {
	padding-top: 5px;
}

#videoDescription {
	padding-top: 9px;
	font-size: 14px;
	position: relative;
	font-family: arial, helvetica, sans-serif;
}

#videoDiv {
	width: 890px;	
	left: 15px;
	position: relative;
}

.videoFeatureTitle {
	font-family:'OfficinaSansITCW01-Bold', 'arial', 'helvetica', 'sans-serif';
	padding-top: 7px;
}

#sharerName {
	position: absolute;
	font-size: 18px;
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
	left: 67px;
	top: 182px;
	color: #545454;
}

#sharerName a:link {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

#sharerName a:visited {
	text-decoration: underline;
	color: #545454;
	cursor: pointer;
}

#sharerName a:active {
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}

#sharerName a:hover {
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}

#likeFollow {
/*  padding-bottom: 65px;*/
  margin-left: -10px;
/*	overflow: hidden;*/
}

#likeFollowHeadline {
	padding-bottom: 15px;
	font-size: 16px;
	color: #2f2f2f;
	width: 150px;
}

#inviteBox {
	font-size: 18px;
	line-height: 24px;
	color: #545454;
	padding: 5px 10px 10px 10px;
	background-color: #e7e5df;	
	width: 435px;
	margin-left: 14px;
}

.emailInviteAddress {
	position: relative;
	width: 424px;
	height: 16px;
	font-size: 12px;
	top: 10px;
	margin: 5px;
}

#inviteSendButton {
	padding-top: 13px;
	position: relative;
}

#inviteSendButton a:link {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#inviteSendButton a:visited {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#inviteSendButton a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#inviteSendButton a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.inviteLinks {
	padding-left: 16px;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	width: 700px;
}

.inviteLinks a:link {
	color: #545454;
	cursor: pointer;
}

.inviteLinks a:visited {
	color: #222;
	cursor: pointer;
}

.inviteLinks a:active {
	text-decoration: underline;
	color: #0c00ff;
	cursor: pointer;
}

.inviteLinks a:hover {
	text-decoration: underline;
	color: #222;
	cursor: pointer;
}

#inviteBodyBox {
	position: relative;
	top: 5px;
	width: 428px;
	height: 149px;
	border-style: none;
	font-size: 14px;
}

#inviteFacebookDiv {
	cursor: pointer;
	padding-left: 15px;
	width: 304px;
}

.redMenuLink a:link {
/*	color: #f21c62;*/
        background: yellow;
        padding-top: 5px;
}

.marked {
        background: yellow;
}

#shareStevie {
	font-family: 'arial', 'helvetica', 'sans-serif';
	font-size: 12px;
	color: black;
	margin-top: 5px;
}

#middleBar {
    position: absolute;	
    left: 568px;
    top: -60px;
    width: 398px;
    height: 300px;
    color: #000000;
    font-size: 24px;
}

#ondemand_shadow {	
	top: 338px;
    left: 53px;
	position: absolute;
}	

#apps_shadow {	
	top: 540px;
	left: 53px;
	position: absolute;
}	

#ondemand {
	top: 288px;
    position: absolute;
    width: 876px;
    font-size: 17px;
    /* background-color: #E8E5DE; */
    margin-left: 15px;
    padding: 0;
}
	
#appsBar {
    position: absolute;
    top: 540px;
    width: 920px;
    left: 53px;
    height: 38px;
}

#appsBar a {
    text-decoration: none;

}

.fb-like { 
  margin-top:67px;
}

.homePage .fb-like {
  margin-top:40px;
}


.twitter-follow-button {
  margin-top:10px;
}

#ondemand_bar {
    margin-top: -10px;
}

.pretty_header_text {
    position: relative;
    top: -28px;
    left: 185px;
}

.pretty_header {
/*    background-color: #46C0FF;*/
/*    color: #ffffff;*/
    color: #000000;
    width: 143px;
    height: 14px;
/*    padding: 14px;*/
/*    padding-top: 7px;*/
    padding-top: 16px;
}

#devices_header {
	margin-left: 10px;
}

#devices_header_text {
	margin-left: 10px;
	font-size: 17px;
}

.vod_thumb {
    padding: 7px;
	
    padding-left: 0px;
    padding-right: 14px;
    padding-bottom: 4px;
    cursor: pointer;
}

.smallprint {
    font-size: 13px;
    font-family: Arial;
	
}

.home_below_button {
    font-family: Arial;
    font-size: 15px;
    margin-top: -15px;
}
.twtr-hd {
	display: none;
}
.twtr-ft {
	display: none;
}

.twtr-widget {
	top: 2px;
	left: -9px;
}

#twitter_header {
    position: static;
	margin-left:-13px;
    font-size: 17px;
}

#tryStevie {
    margin-top: 50px;
    margin-left: 10px;
}

#startpng {
	margin: 35px 0;
	cursor: pointer;
}

#startTitle {
	font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
	font-size: 54px;
	font-weight: normal;
	margin: 35px 0 8px;
}

#fb_login_button, #tw_login_button {
	display: block;
	cursor: pointer;
	margin-top: 17px;
}

.dot {
}

#dots {
	margin-left: 448px;
	margin-top: -4px;
}

#electext {
	position: relative; 
	left: 120px; 
	top: -73px
}

#electappicon {
	top: -116px;
	left: 207px;
	position: relative; 	
	z-index: 999;
}

#electicon {
	margin-top: -20px;
}

#ipadAd {
	font-size: 16px;
	position: relative;
	top: 30px;
	cursor: pointer;
}

.applinks {
	line-height: 18px;
	color: #4abeff;
}

.applinks a:link, a:visited, a:active, a:hover {
	color: #4abeff;
}

.applinks a:link, a:visited, a:active {
	text-decoration: none;
}

.applinks a:hover {
	text-decoration: underline;
}
#shadow1 {
	position: relative;
}
#appdiv {
	margin-left: -10px;
	margin-top: -10px;
        width: 1200px;
}
#appdiv img {
	margin-right: 7px;
	margin-left: 20px;
	position: relative;
	top: 7px;
}
#appdiv a:link {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#appdiv a:visited {
	text-decoration: none;
	color: #545454;
	cursor: pointer;
}

#appdiv a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

#appdiv a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.slide {
	width: 450px;
	height: 354px;
	color: #ffffff;
}

.slide_heading {
	font-size: 40px;
	line-height: 38px;
	margin-left: 30px;
	margin-bottom: 8px;
	padding-top: 40px;
	margin-top:10px;
	letter-spacing: 1.7px;
}

.slide_text {
	margin-left: 33px;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.7px;
}

.slide_devices {
	margin-top: 32px;
	margin-left: 34px;
}

.slide_store_icon {
	margin-bottom: 10px;
}
#slide1 {
	background-image: url('http://static.mystevie.com/png/website/andSlide.jpg');
}

/*#slide2.8 {
	background-image: url('http://static.mystevie.com/png/website/win8_bg.jpg');
}*/

#slide2 {
	background-image: url('http://static.mystevie.com/png/website/guide_bg.jpg');
}

#slide3 {
	background-image: url('http://static.mystevie.com/png/website/ios_bg.jpg');
}

html.busy, html.busy * {  
  cursor: wait !important;  
}

.leftImage {
    position: absolute;
    float: left;
    display: none;
}
#leftImageLI {
    margin-left: -25px; 
    margin-top: -98px; 
}

#leftImageLO {
    display: block;
    float: left;
/*    margin-left: 10px; */
    margin-top: -70px; 
}

.teamMember {
	float: left;
	width: 30%;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.teamMember img {
	width: 155px;
	height: auto;
}

.HShelpScreenImg {
    width: 350px;
    height: 219px;
}

.HShelpScreenIcon {
    width: 60px;
    height: 60px;
}

.HShelpScreenTimeline {
    width: 424px;
    height: 44px;
}

.noLinks a:link {
	text-decoration: none;
	color: #545454;
}

.noLinks a:visited {
	text-decoration: none;
	color: #545454;
}

.noLinks a:active {
	text-decoration: none;
	color: #545454;
}

.noLinks a:hover {
	text-decoration: none;
	color: #545454;
}

#pressMiniMenu {
    padding-top: 29px;
}

a#link_belg {
	position: absolute;
	width: 220px;
	left: 603px;
	top: 355px;
	text-decoration: none;
	color: #666;
	font-size: 16px;
}

a#link_belg:hover {
	color: #444;
}

#chromecast_updates {
	margin-top: 100px;
	margin-left: -10px;
	width: 205px;
}

#chromecast_updates .bolder {
	font-size: 22px;
	color: #555
}

#chromecast_updates label {
	margin-top: 15px;
	display: block;
}

#chromecast_updates #emailBox {
	float: left;
	height: 20px;
	line-height: 30px;
	font-size: 14px;
	font-family:'OfficinaSansITCW01-Book 734509', 'sans-serif';
	padding: 5px;
	border: 1px solid #aaa;
	width: 150px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#chromecast_updates #go_button {
	float: left;
	width: 42px;
	height: 32px;
	margin: 3px 0;
	background: #555;
	color: #FFF;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}




