#main {
    width: 944px;
    background-color: #f2eee6;    
    color: #332925;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'OfficinaSansITCW01-Book 734509', 'sans-serif';
}

input[type=button] {
    -webkit-appearance: button;
}

.snake {
    width: 924px;
    height: 125px;
    background-color: #ceccc4;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    clear: left;
/*    margin-bottom: 15px;*/
}

.snakePlayImg {
    position: relative;
    width: 30px;
    height: 30px;
    top: -90px;
    left: 50px;
    z-index: 100;
}

.snakeChannelTitleBox {
    position: relative;
    width: 128px;
    height: 42px;
    top: -81px;
    left: 0px;
    z-index: 200;
/*    background-color: #000000; */
    color: #ffffff;
    background-color: rgba(0,0,0,0.5); 
/*    -webkit-box-shadow: inset 0 0 59px #000000;
    -moz-box-shadow:    inset 0 0 59px #000000; */
/*    -moz-box-shadow:    inset 0 0 59px #676767;*/
    /*box-shadow:         inset 0 0 59px #000000;*/
}

.noLink a:link {
    text-decoration: none;
    color: #332925;
}

.noLink a:visited {
    text-decoration: none;
    color: #332925;
}

.noLink a:active {
    text-decoration: none;
    color: #332925;
}

.noLink a:hover {
    text-decoration: none;
    color: #332925;
}

.transparent {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=70);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.7;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.7;
}

.ontop {
  position: relative;
  top: 4.7em;
}

.snakeChannelTitle {
    position: absolute;
    top: 10px;
    left: 16px;
    max-height: 28px;
    z-index: 999;
    opacity: 1 !important;
    color: #ffffff;
    font-size: 13px;
    line-height: 14px;
    overflow: hidden;
    max-width: 90px;
    width: 100%;
    font-family: helvetica, 'sans-serif';
    letter-spacing: normal;
}

.leadCat {
    float: left;
    padding-top: 15px;
    position: relative;
    width: 218px;
    height: 130px; 
}

.leadCatImg {
    width: 100px;
    height: 100px;
}

.leadCatPlayImg {
    position: relative;
    width: 30px;
    height: 30px;
    top: -50px;
    left: -65px;
    z-index: 100;
}

.leadCatPlayLabel {
    position: relative;
    top: -40px;
    left: 38px;
    z-index: 100;
    font-size: 12px;
    width: 35px;
    font-family:'OfficinaSansITCW01-Bold', 'sans-serif';
    color: #ffffff;
}

.leadCatTitle {
    bottom: 36px;
    position: relative;
    font-size: 16px;
    left: 110px;
    width: 106px;
    line-height: 15px;
    letter-spacing: normal;
}

.jMyCarousel {
     float: right;
     width: 700px;
    padding-top: 5px;
}

.jMyColors {
     background-color: #9a9790;
    -webkit-box-shadow: inset 0 0 59px #ceccc4;
    -moz-box-shadow:    inset 0 0 59px #ceccc4; 
    box-shadow:         inset 0 0 59px #ceccc4;
}

.snakeImg {
    width: 110px;
    height: 110px;
    margin: 10px 0 0 10px;
}

div.jMyCarousel .prev{
	width:140px;
	height:100%;
        opacity: 0 !important;
        top: 0 !important;
}

div.jMyCarousel .next{
	width:140px;
	height:100%;
        opacity: 0 !important;
        top: 0 !important;
}


div.jMyCarousel ul li{
	line-height:0px;
        width: 128px;
        height:110px;
}

div.jMyCarousel ul li a{
	display:block;
	border:0px;
}

div.jMyCarousel ul li a img{
	display:block;
	border:0px;
}

#allCats {
    visibility: hidden;
}

#bigThumbsDots1 {
    display: none;
}

#bigThumbsDots2 {
    display: none;
}

.snakeListItem {
    width: 128px;
    height: 110px;
}