/*			fonts -
			font-family:'OfficinaSansITCW01-Book 734509';
			font-family:'OfficinaSansITCW01-Medi 734521';
			font-family:'OfficinaSansITCW01-Bold';
*/
			* { margin: 0; padding: 0; }
			a, img { border: 0; }
			html { width: 100%; height: 100%; }
			body { width:100%; height:100%; text-align: center; background: #ccc url(images/glam_bg3.jpg) center top fixed no-repeat; background-size: cover; }
			#canvas { display: none; padding-top: 35px; position: relative; width:980px; margin: 0 auto; text-align: left; font: 16px 'OfficinaSansITCW01-Book 734509', 'sans-serif'; }
			#canvas:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
			#top { float: left; width: 100%; }
			#app_icon {width: 90px; margin-top: -24px; display: block; float: left; }
			#top p { font-family: 'OfficinaSansITCW01-Book 734509', 'sans-serif'; float: left; color: #fff; margin: 0 10px; line-height: 72px; }
			#powered_by { display: block; float: right; margin-top: 20px; }
			#powered_by p { line-height: 36px; color: #C1003C; margin: 0 10px; }
			#stevie_logo { height: 35px; display: block; float: right; }
			#main { float: left; width: 100%; margin-top: 60px; cursor: pointer; }
			#devices { display: block; float: left; width: 60%; overflow: visible; }
			#devices img { margin-left: -30px; float: left; width: 122%; margin-top: 5px; }
			#copy { float: right; width: 40%; }
			h1 { padding-left: 10px; font: normal 52px/52px 'OfficinaSansITCW01-Medi 734521', 'sans-serif'; color: #fff; text-shadow: 0px 0px 2px #878787; }
			h2 { padding-left: 10px; margin-top: 15px; font: normal 26px/30px 'OfficinaSansITCW01-Book 734509', 'sans-serif'; color: #fff; text-shadow: 0px 0px 2px #878787; }
			h3 { padding-left: 10px; margin-top: 15px; font: normal 20px 'OfficinaSansITCW01-Book 734509', 'sans-serif'; color: #333; }
			h3 span { font: normal 16px 'OfficinaSansITCW01-Book 734509', 'sans-serif'; color: #333; }
			.button { padding-left: 10px; display: block; float: left; margin-top: 25px; }
			#bottom { float: left; width: 100%; margin-top: 20px; }
			#disclaimer { float: left; color: #fff; }
			#follow { float: right; margin-top: 10px; color: #333; text-decoration: none;}
			#follow img { height: 20px; width: auto; vertical-align: middle; }

			/* Large screens ----------- */
			@media only screen and (min-height : 950px) {
			/* Styles */
			body { background-position: center top; }
			#top { padding-top: 50px; }
			#main { margin-top: 120px; }
			#bottom { margin-top: 60px; }
			}

			@media only screen and (min-height : 800px) {
			/* Styles */
			#bottom { margin-top: 60px; }
			}

			@media only screen and (max-height : 767px) {
			/* Styles */
			#main { margin-top: 40px; }
			}

			/* small screens -----------d */
			@media only screen and (max-width: 960px) {
			body { background-position: center top;  }
			#canvas { width: 720px; }
			#top { padding: 10px 0; }
			#main { margin-top: 40px; }
			#copy { width: 100%; }
			#devices { width: 100%; margin-top: -65px; }
			#devices img { width: 90%; }
			h2 { font-size: 24px; margin-top: 10px; }
			h3 { margin-top: 10px; }
			h3 span { display: block; }
			.button { float: right; margin-top: 45px }
			#bottom { margin-top: 40px; }
			}

			/* narrow screens, tablet in portrait, mobile */
			@media only screen and (max-width: 730px) {
			#canvas { width: 92%; padding-top: 25px; }	
			}

			@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			/* Styles */
			body { background-image: url(images/naznaz.jpg); }
			#powered_by { position: absolute; bottom: 0; }
			a#powered_by p { font-size: 10px; line-height: 20px; margin: 1px 5px 0 0; }
			#powered_by img { height: 20px; }
			#top p { font-size: 18px; line-height: 20px; margin-top: -50px; margin-left: 100px; }
			#main { margin-top: 10px; }
			h1 { font-size: 40px; padding: 0; }
			h2 { font-size: 18px; line-height: 21px; padding: 0; }
			h3 { margin-top: 120px; font-size: 18px; line-height: 21px; padding: 0; }
			.button { float: right; margin-top: 45px; position: absolute; top: 220px; text-align: center; width: 100%; padding: 0; }
			#devices { margin-top: 40px; }
			#devices img { width: 100%; margin: 0; }
			#bottom { font-size: 10px; padding: 20px 0 0 0; margin: 0; }
			}

		