@charset "UTF-8";
/*  fonts -
	font-family:'OfficinaSansITCW01-Book 734509';
	font-family:'OfficinaSansITCW01-Medi 734521';
	font-family:'OfficinaSansITCW01-Bold';
*/


/* general - all Stevie future pages */

* { 
	margin: 0; 
	padding: 0; 
}

a, img, a img { 
	border: 0; 
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

ul, li {
	list-style: none;
}

/* Sticky footer styles */

html, body {
	height: 100%;
}

#page {
	background: #F1EEE7;
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer {
	height: 60px;
}

/* follow TV styles */

h1, h2, h3, h4 {
	font-family: 'OfficinaSansITCW01-Bold' , sans-serif;
	color: #666;
}

h3 {
	font-size: 20px;
}

h4 span {
	font-family: 'OfficinaSansITCW01-Book 734509', sans-serif;
}

.container {
	position: relative;
}

#top {
	background: #fff;
	font-family: 'OfficinaSansITCW01-Book 734509', sans-serif;
}

#branding img {
	float: left;
	height: 86px;
	width: auto;
	margin-bottom: 15px;
	margin-left: -12px;
}

#branding h1 {
	float: left;
	margin: 38px 0 0 2px;
	/*font-family: 'OfficinaSansITCW01-Medi 734521', sans-serif;*/
	color: #46C0FF;
	font-size: 32px;
	padding: 0;
	letter-spacing: -0.03em;
	font-weight: normal;
}

#topBarItems {
	float: left;
	margin: 65px 0 0 35px;
	color: #888;
	font-size: 16px;
}

#topBarItems a {
	text-decoration: none;
	color: inherit;
	padding: 0 2px;
}

#topBarItems a:hover {
	color: #46C0FF;
}

#loginButtons {
	width: 170px;
	height: 35px;
	margin-top: 59px;
	position: absolute;
	top: 0;
	right: 0;
}

.login_brdr {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 8px;
}

#loginButtons p {
	margin: 0 10px;
	padding: 0;
	line-height: 40px;
	float: left;
}

#loginButtons a.topbar_tw {
	float: right;
	margin-left: 10px;
	background: #46C0FF;
	display: block;
	width: 34px;
	height: 35px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

#loginButtons a.topbar_fb {
	float: right;
	background: #6784C0;
	display: block;
	width: 34px;
	height: 35px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

#top h2 {
	clear: both;
}

#ios_message {
	display: none;
}

#stage {
	position: relative;
	margin-bottom: 50px;
}

#channel_search {
	position: absolute;
	z-index: 1001;
	width: 100%;
	padding-right: 29px;
}

#channel_search .input-group {
	/*top: 5px;*/
}

#channel_search button {
	border-radius: 0;
	background: #46C0FF;
	border-color: #46c0ff;
	color: #fff;
}

#channel_search button:hover {
	background: #35b0dd;
}

#search_input {
	font-family: 'OfficinaSansITCW01-Book 734509' , sans-serif;
	font-size: 24px;
	position: relative;
	z-index: 1000;
	padding-top: 15px;
	border-radius: 0;
}

#search_input:focus {
	box-shadow: none;
	border-color: #46C0FF;
}

#search_input.highlight {
	color: #000;
	border-color: #347BE8;
}

#search_results {
	color: #666;
	margin-top: -1px;
	z-index: 1001;
	position: relative;
	max-height: 452px;
	overflow: auto;
	z-index: 100;
}

#search_results li.channel {
	width: 100%;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #f5f5f5;
	cursor: pointer;
	padding: 10px 15px;
	box-sizing: border-box;
}

#search_results li.channel:hover, #search_results li.selected_result {
	background: #f0f0f0;
}

#search_results li.channel:first-child {
	border-top: 1px solid #ccc;
}

#search_results li.channel:last-child {
	/*border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;*/
}

#search_results li.channel span {
	float: right;
	color: #666;
}

#search_results li.channel:focus {
/*	background-color: yellow;*/
}

#stevie_embed { 
	position: relative;
	margin-top: 105px;
	width:100%;
	z-index: 1;
}

#stevie_embed iframe { 
	width: 100%; 
	height: 100%; 
	border: 0;
}

#main h4 {
	/*text-align: center;*/
	/*display: none;*/
}

#sidebar .login_brdr {
	top: 50px;
	left: 0;
	padding: 0 15px;
}

#topics {
	padding-top: 2px;
	position: relative;
}

.topic {
	float: left;
	width: 100%;
	margin: 0;
	margin-top: 2px;
	padding: 0px 28px 0 12px;
	cursor: pointer;
	background: #292f33;
	border-left: 5px solid #46C0FF;
	color: #46C0FF;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	-webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

.topic b {
	display: block;
	position: relative;
	height: 46px;
	line-height: 46px;
	overflow: hidden;
}

.topic:hover {
	background-color: #555;
}


.topic.selected {
/*	background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0.15));*/
	background-color: #fff;
	border-left-width: 12px;
}

.topic span {
	position: absolute;
	background-color: transparent;
	display: none; 
	font: bold 22px/10px arial; 
	padding: 0 5px;
	right: 8px;
	top: 18px;
}

.topic:hover span, .topic.selected span {
	display: block;
}

#bottom_links {
	font-family: 'OfficinaSansITCW01-Book 734509' , sans-serif;
	font-size: 16px;
	margin: 20px 0;
}

#bottom_links img#ondemand_shadow {
	width: 100%;
	height: 10px;
}

#bottom_links a {
	color: #666;
	margin-right: 25px;
}

#bottom_links a:hover {
	color: #000;
}

#appdiv {
	margin-top: 15px;
}

#appdiv img {
	margin-right: 5px;
}

#footer .container {
	line-height: 60px;
	font-family: 'OfficinaSansITCW01-Book 734509' , sans-serif;
	color: #666;
	text-align: center;
}

#overlay {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	z-index: 30000;
	display: block;
}

#overlay a {
	display: block;
	width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	text-indent: -999px;
	background: #000 url( http://static.mystevie.com/webclient/embed/contract_lt.png) no-repeat;
	background-size: 100%;
}

.toolbar_button {
	float: right;
	width: 38px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	text-indent: -999px;
	margin: 5px -5px 5px 5px;
}

.toolbar_button.expand {
    background-image: url( http://static.mystevie.com/webclient/embed/expand_dk.png);
    background-size: 100%;
    background-position: center;

}

#footer_login_banner {
padding: 3px;
font-family: 'OfficinaSansITCW01-Bold' , sans-serif;
float: left;
font-size: 17px;
cursor: pointer;
text-decoration: underline;
}

/* TODO: this is duplicate code from embed toolbar - unify?
#toolbar {
    height: 40px;
    width: 100%;
    bottom: 0px;
    background: #5a5a5a;
}

#mute.mute {
    background-image: url( http://static.mystevie.com/webclient/embed/mute_lt.png);
}
#mute.unmute {
    background-image: url( http://static.mystevie.com/webclient/embed/unmute_lt.png);
}
#fullscreen.expand {
    background-image: url( http://static.mystevie.com/webclient/embed/expand_lt.png);
}
#fullscreen.contract {
    background-image: url( http://static.mystevie.com/webclient/embed/contract_lt.png);
}

.toolbar_button {
    float:right;
    margin-right:10px;
    cursor: pointer;
    display: block;
    height:40px;
    width: 40px;
    overflow: hidden;
    text-indent: -909px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
*/




@media (min-width: 768px) {
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


@media (max-width: 1200px) {
	#topBarItems { margin-left: 0; }
}

@media (max-width: 991px) {
	#channel_search { top:-119px; }
	#search_results { max-height: 411px; }
	#topics { margin-left: -15px; margin-right: -35px; }
	#topBarItems { margin: 0; }
	#sidebar .login_brdr { top: 32px; }
	#topics {margin: 0;}
}

@media (max-width: 620px) {
	/*#stage {display: none;}*/
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	/*#stage { display: none; }
	#ios_message { display: block; }*/

}


/* ?? */
@media screen and (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
		/*.topic { width: 90px; height: 90px; }*/
}
