@charset "UTF-8";

/*  fonts -
	font-family:'OfficinaSansITCW01-Book 734509';
	font-family:'OfficinaSansITCW01-Medi 734521';
	font-family:'OfficinaSansITCW01-Bold';
*/


/*	colors - 
	blue: #46C0FF;
	green: #29B962;
	magenta: #F21C62;
	grey: #A0A0A0;
	purple: #9B74CD;
	yellow: #F5CF00;
*/

body {
	background: #a0a0a0;
	font-family: 'OfficinaSansITCW01-Book 734509', sans-serif;
}

/* ===== general styles ======= */

* { 
	margin: 0; 
	padding: 0; 
}

a, img, a img { 
	border: 0; 
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

ul, li {
	list-style: none;
}

h1, h2, h3 {
	font-family: 'OfficinaSansITCW01-Bold' , sans-serif;
}

h4 {
	font-family:'OfficinaSansITCW01-Medi 734521', sans-serif;
	font-size: 24px;
	margin-top: 20px;
}

h5 {
	font-family:'OfficinaSansITCW01-Medi 734521', sans-serif;
	font-size: 18px;
}

p {
	font-size: 18px;
}

img {
	display: block;
}

.sans {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.room {
	background-image: url(http://static.mystevie.com/png/website/celebTV/room.jpg);
	 background-size: cover; 
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.homeroom {
	background-image: url(homeroom.jpg);
	background-position: 50% -490px;
	background-repeat: no-repeat;
}

.top_mask {
	border: none;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	height: 500px;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.container {
	z-index: 100;
	position: relative;
}

.sub_heading {
	position: absolute;
	top: 348px;
	left: 368px;
	font-size: 33px;
	width: 260px;
	text-shadow: 2px 2px 4px #222;
	color: #fff;
	/* text-transform: uppercase; */
	z-index: 1000;
	font-family: 'OfficinaSansITCW01-Book 734509', sans-serif;
}

.main_heading {
	color: #fff;
	font-family: 'OfficinaSansITCW01-Medi 734521', sans-serif;
	margin-top: 0px;
	font-size: 46px;
	font-weight: normal;
}

#awards_slider {
	width: 250px;
	margin-top: 30px;
	float: left;
}
/* Sticky footer styles */


html, body {
	height: 100%;
}

#page {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
}

#page:after {
	content: "";
  	display: block;
}

#footer, #page:after {
	height: 60px;
}

#footer {
	width: 100%;
	color: #FFFFFF;
}

/*
#page.footerOpen {
	margin-bottom: 200px;
}

#page.footerOpen #footer, #page.footerOpen:after {
	height: 200px;
}
*/

/* === top nav ====== */

#top {
	color: #FFFFFF;
	position: relative;
	z-index: 120;
}

#branding img {
	float: left;
	height: 55px;
	width: auto;
}

#menu {
    float: left;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 38px 10px 0;
    display: block;
    float: left;
}

#menu a:hover {
    color: #46C0FF;
}

#menu a.active {
	cursor: default;
	pointer-events: none;
	color: #dddddd;
	font-size: 20px;
	line-height: 18px;
}

#menu a.active:hover {
	color: #FFFFFF;
}

#loginButtons {
	width: 170px;
	height: 35px;
	position: relative;
	top: 0;
	right: 0;
}

.login_brdr {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 8px;
}

#loginButtons p {
	margin: 0 10px;
	padding: 0;
	line-height: 40px;
	float: left;
	font-size: 16px;
}

#loginButtons .topbar_tw {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	background: #46C0FF;
	display: block;
	width: 34px;
	height: 35px;
}

#loginButtons .topbar_fb {
	cursor: pointer;
	float: right;
	background: #6784C0;
	display: block;
	width: 34px;
	height: 35px;
}

#top #social_buttons {
	margin-top: 40px;
}

#top #social_buttons span {
	font-size: 16px;
	display: block;
	float: left;
	margin-right: 20px;
}

#top #social_buttons div {
	float: left;
	margin-right: 10px;
	width: 50px;
}

#homepage_social { float: right; width: 62px; margin-top: 30px;}

#homepage_social a { display: block; float: right;}
#homepage_social a img { display: block; width: 100%; }
#homepage_social a:first-child { width: 28px; padding: 3px 0;}
/* ===== body styles ======= */

.panel {
	background: rgba(255,255,255,0.85);/*,0.85);*/
	margin-top: 45px;
	padding: 0 15px 30px 15px;
}

.panel h1 { /*#f0f0f0; */
	margin: -52px 0 0 -15px;
	height: 72px;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	text-indent: -9999px;
}


/* ===== alternative styles - tbr ======= */

.white {
	color: #fff;
}

.white h1 {
	font-size: 46px;
	margin-top: 0;
	font-family:'OfficinaSansITCW01-Medi 734521';
}

.white p, .white .teamMember b {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
}

/* === Homepage ======== */

.home #sidebar {
	margin-top: -20px;
}

.home h4 {
	/* font-family:'OfficinaSansITCW01-Book 734509', sans-serif; */
	/* text-shadow: 1px 1px 4px #222; */
	/* font-size: 25px; */
	/* line-height: 32px; */
	margin-top: 205px;
}

.home #try_web {
	margin-top: 50px;
}

#main_image img {
	width: 104%;
	height:auto;
	margin-left: -2%;
	margin-top: -20px;
	/* position: relative; */
	/* z-index: 10; */
}

#try_web {
	font-size: 20px;
	margin-top: 80px;
	display: block;
}

#try_web:hover {
	color: #46C0FF;
}

#hand {
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

#hand img {
	width: 45%;
	position: absolute;
	left: -135px;
	top: 260px;
}

#banner {
	position: absolute;
	top: -225px;
	left: -90px;
	z-index: -1;
}

#banner a {
	cursor: pointer;
	display: block;
}

#banner img {
    width: 89%;
}

.dl_buttons h4 {
	color: #111;
	margin-top: 120px;
	margin: 115px 20px 50px;
	font-size: 32px;
}

.dl_buttons {
	margin-top: 0;
	position: relative;
	z-index: 20;
}

.dl_buttons a:hover {
    color: #46C0FF;

}

a.dl_button {
	margin: 15px 0;
	display: block;
}

/* === about page ======= */
#this_is_stevie {
	float: right;
	margin: 5px 10px;
}

#team {
	/* margin-top: 20px; */
	/* display: block; */
}

.teamMember {
	height: 190px;
	margin-top:15px;
} 

.teamMember img {
	width: 240px;
	max-width: 100%;
	display: block;
	margin-bottom: 6px;
}

.teamMember b {
	font-family:'OfficinaSansITCW01-Bold';
	font-size: 16px;
	font-weight: normal;
}

/* === press page ======= */

#press_menu ul {
	margin: 30px 0;
}

#press_menu li a {
	display: block;
	margin: 10px 0;
	font-family:'OfficinaSansITCW01-Medi 734521';
	font-size: 18px;
}

#press_menu a {
	font-size: 16px;
}

#press_menu a:hover {
	text-decoration: underline;
}

#press_main h5 {
	max-width: 550px;
}

#articles {
	margin-top: 40px;
}

#articles li {
	margin: 20px 0;
}

#articles li img {
	display: block;
	float: left;
	margin-right: 15px;
	width: 50px;
	height: 50px;
}

#articles p {
	margin-bottom: 7px;
}

#articles a:hover p {
	text-decoration: underline;
}

/* === products page ======= */

.products_section li {
	font-size: 18px;
}

.products_section a, .products_section b {
	font-family: 'OfficinaSansITCW01-Medi 734521', sans-serif;
}

.products_section a:hover {
	text-decoration: underline;
}

.products_section h2 a {
	font-size: 24px;
}

.products_image {
	margin-bottom: 25px;
}

/* === help page ======= */

#faq_list {
	font-size: 18px;
}

#faq_list li {
	cursor: pointer;
}

#faq_list li:hover {
	color: #46C0FF;
}

#android_help {
	 color: #FFFFFF; 
	 /* padding: 10% 0; */
	 height: 100%;
}

#android_help .carousel-inner, #android_help .item  {
	height: 100%;
}

#android_help h1, #android_help p {
	text-align: center;
	max-width: 600px;
	margin: 5px auto 10px;
}

#android_help img {
	display: block;
	margin: auto;
	margin-top: -10px;
	max-height: 75%;
}

#android_help .carousel-indicators li {
	margin:0 4px;
}

/* === contact page ======= */

#contactBox form {
	padding-right: 20px;
}

#contactBox label {
	font-size: 16px;
}

.contact a:hover {
	text-decoration: underline;
}

/* === privacy policy ======= */

.privacy i {
	margin: 20px 0;
	display: block;
}

/* ===== landing pages ======= */

#stage {
	position: relative;
	margin-bottom: 50px;
}

#stevie_embed { 
	position: relative;
	margin-top: 55px; 
	width:100%;
	z-index: 1;
}

#stevie_embed iframe { 
	width: 100%; 
	height: 100%; 
	border: 0;
}

#sidebar {
	color: #FFFFFF;
}

/* from when suggested was in sidebar */
#download_links {
	height: 90px;
	margin-top: 45px;
}

#download_links a {
	float: left;
	display: block;
	margin: 10px 10px 20px -10px;
	padding-left: 10px;
	width: 50%;
}

#download_links a img {
	width: 100%;
	display: block;
}
/**/

.dl_buttons.landing_page h4 {
	color: #fff;
	font-size: 24px;
	margin: 40px 0 36px;
	line-height: 32px;
}

.dl_buttons.landing_page a.dl_button {
	margin: 20px 0;
}

#channel_info {
	position: relative;
}

#channel_info span {
	height: 240px;
	display: block;
	overflow: hidden;
}

#expand_channel_info, #contract_channel_info {
	position: absolute;
	top: 100%;
	display: none;
	width: 100%;
	cursor: pointer;
}

#channel_title {
	line-height: 45px;
	font-size: 36px;
	margin: 0;
}

#sidebar #social_buttons {
	width: 100%;	
	height: 40px;
}

#sidebar #social_buttons .social_buttons_btn {
	float: left;
	margin: 15px 10px 0 0;
	height: 26px;
}

#desc {
	font-size: 16px;
	margin-top: 12px;
	/* width: 100%; */
	clear: both;
}

#disclaimer {
	color: #FFFFFF;
	position: absolute;
	margin-top: -25px;
}

/* chromecast updates styles */
#chromecast_updates form input, #chromecast_updates form label {
	font-size: 16px;
}

#chromecast_updates #go_button {
	font-family: 'OfficinaSansITCW01-Bold' , sans-serif;
}

.related_channel { /* override bootstrap css */
	display: block;
	position: relative;
	padding: 10px;
}

.related_channel a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.related_channel span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(http://cdn.mystevie.com/webclient/guide/play_img.png) center center no-repeat;
	z-index:10;
	background-size: 35px;
	display: none;
}

.related_channel:hover span {
	display:block;
}

.related_channel img {
	width: 100%;
	height: auto;
}

.related_channel h5 {
	color: #fff;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	display: block;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 2px #333;
	font-weight: normal;
	margin: 5%;
	line-height: 20px;
	width: 90%;
	overflow: hidden;
}

.gradient {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-8 */
    height: 48%;
	width: 100%;
	
    margin: -48% 0 0 0;
   	position: absolute;
   	



    overflow: hidden;
}

.link_to_guide {
	display: block;
	float: left;
	width: 180px;
	padding: 0 10px;
	color: #fff;
	font-size: 16px;
}

.link_to_guide:hover {
	color: #fff;
	text-decoration: underline;
}

/* ======== search widget ======= */

#channel_search {
	position: absolute;
	z-index: 1001;
	width: 100%;
	padding-right: 29px;
}

#channel_search .input-group {
	margin-right: 1px;
}

#channel_search button {
	border-radius: 0;
	background: #46C0FF;
	border-color: #46c0ff;
	color: #fff;
}

#channel_search button:hover {
	background: #35b0dd;
}

#search_input {
	font-size: 22px;
	position: relative;
	z-index: 1000;
	padding-top: 15px;
	border-radius: 0;
}

#search_input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbb;
}
#search_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbb;
}
#search_input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbb;
}
#search_input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbb;
}

#search_input:focus {
	box-shadow: none;
	border-color: #46C0FF;
}

#search_input.highlight {
	color: #000;
	border-color: #347BE8;
}

#search_results {
	color: #666;
	margin-top: -1px;
	z-index: 1001;
	position: relative;
	max-height: 452px;
	overflow: auto;
	z-index: 100;
}

#search_results li.channel {
	width: 100%;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #f5f5f5;
	cursor: pointer;
	padding: 10px 15px;
	box-sizing: border-box;
}

#search_results li.channel:hover, #search_results li.selected_result {
	background: #f0f0f0;
}

#search_results li.channel:first-child {
	border-top: 1px solid #ccc;
}

#search_results li.channel:last-child {
	/*border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;*/
}

#search_results li.channel span {
	float: right;
	color: #666;
}

#search_results li.channel:focus {
/*	background-color: yellow;*/
}

/* ======== footer styles ======= */
.homeroom #footer .col-sm-9 a:first-child {
	margin-left: 35px;
}

.homeroom #press_logos {
	display: block;
	line-height: 0px;
}

.homeroom #footer #press_logos img {
	width: 150%;
	margin-top: -20px;
	margin-left: -50%;
}

#footer .col-sm-9 {
	line-height: 40px;
	font-family: 'OfficinaSansITCW01-Book 734509' , sans-serif;
	text-align: center;
}

#footer a {
	margin: 0 10px;
}

#footer a:hover {
	color: #F5CF00;
}

/* ==== MEDIA QUERIES ==== */

@media (min-width: 768px) {
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	.link_to_guide { margin-top: 113px; }
}


@media (max-width: 1200px) {
	#topBarItems { margin-left: 0; }
	#channel_info span { height: 170px; }
	#download_links h4, #chromecast_updates h4 { font-size: 20px } /*!*/
	#download_links { height: 85px; }
	.link_to_guide { margin-top: 90px; }
	#banner { }
	.home h4 { font-size: 28px; line-height: 33px; margin-top: 83px;}
}

@media (max-width: 991px) {
	#channel_search { top:-55px; }
	#search_results { max-height: 411px; }
	#channel_info span { height: 150px; }
	#chromecast_updates { margin-bottom: 25px; }
	.link_to_guide { margin-top: 0; }
	#menu #guide_link { display: none; }
	.sub_heading { top: 300px; left: 255px;}
	.home #sidebar { width: 50%; float: right; }
	.home #sidebar #try_web { display: none; }
	.homeroom #footer #press_logos { line-height: 20px; }
	#hand { position: absolute; }
	#hand img { width: 75%; left: -40%; top: 320px; margin-top: 20px; }
	#this_is_stevie { float: none; margin: 10px 0; padding: 0 !important; }
	#banner { top: -620px; left: 45px; z-index: 10; }
	.home h4 { position: absolute; top: -409px; margin-left: 150px; font-size: 28px; line-height: 32px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
/*	.homeroom { background-position: 50% 10%; }
	.home .main_heading { margin-top: 300px; }
	#hand img { top: 600px;	 width: 65%; left: -180px; }
	.sub_heading { top: 620px;  left: 310px; }
	.home #sidebar { position: absolute; top: 0px; width: 100% !important; }
	.home #sidebar .dl_button { float: left; width: 48%; padding-right: 2%; margin: 10px 0; }
	.home #sidebar .dl_button a { display: block; width:100%; }
	.home #sidebar .dl_button a img { width:100%; }
	.home #chromecast_updates {  float: left;  max-width: 540px; }
	.home #sidebar #try_web { display: none; }
	.home .dl_buttons a {  float: left; width: 48%; padding-right: 2%; margin: 10px 0; }
	#banner { top: 0; left: 0; }*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)  {
	#hand img { top: 410px; left: -220px; }
}



@media only screen and (max-device-width : 720px) {
	#android_help h1 { font-size: 28px; }
	#android_help p { font-size: 14px; }
	#android_help img { max-height: 70%; }

}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}


/* ?? */
@media screen and (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
	#try_web { font-size: 18px; margin-top: 50px; }
	.sub_heading { top: 325px; left: 281px; font-size: 30px; width: 235px;}

}
